name: make
on:
  workflow_dispatch:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: make
      run: make
    - name: upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: result-artifact
        path: diary 
